In [1]:
# Importing necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum, when, date_format, monotonically_increasing_id, to_timestamp

import pandas as pd

In [2]:
# Creating spark session
spark = SparkSession.builder.appName("uber-data-analysis-4months").config("spark.driver.memory", "4g") .config("spark.executor.memory", "4g").getOrCreate()
# jdbc_driver_path = "E:\Mysql Connector\mysql-connector-j-8.4.0\mysql-connector-j-8.4.0"
# spark = SparkSession.builder.appName("uber-data-anlysis").config("spark.jars", jdbc_driver_path).getOrCreate()

In [3]:
# Specify the directory containing the Parquet files
data_directory = "../Data/"
# Load all Parquet files matching the pattern into a single DataFrame
df = spark.read.parquet(data_directory + "yellow_tripdata_202*.parquet")

# Show the DataFrame
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2023-11-01 00:03:03|  2023-11-01 01:04:08|              2|         13.6|         1|                 N|         132|          26|           2|       61.8| 2.75|    0.5|       0.0|         0.0|                  1.0|       66.05|                 0.0|       1.75|
|       1| 2023-11-01 00:03:28|  2023-11-01 00:23:59|              0|          3.5|         1|                 N|         140|           7|           1|       20.5|  3.5|    0.5|       5.1|         0.0|                  1.0|        30.6|                 2.5|        0.0|
|       2| 2023-10-31 23:58:05|  2023-11-01 00:54:03|              4|        18.61|         2|                 N|         132|         230|           1|       70.0|  0.0|    0.5|     16.54|        6.94|                  1.0|       99.23|                 2.5|       1.75|
|       2| 2023-11-01 00:03:50|  2023-11-01 00:04:59|              1|         0.39|         1|                 N|         236|         236|           1|        4.4|  1.0|    0.5|      1.88|         0.0|                  1.0|       11.28|                 2.5|        0.0|
|       2| 2023-11-01 00:06:30|  2023-11-01 00:14:25|              1|          1.2|         1|                 N|         236|         141|           1|       10.0|  1.0|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|
|       2| 2023-11-01 00:17:18|  2023-11-01 00:23:39|              3|          0.6|         1|                 N|         141|         263|           1|        7.9|  1.0|    0.5|      2.58|         0.0|                  1.0|       15.48|                 2.5|        0.0|
|       2| 2023-11-01 00:14:49|  2023-11-01 00:39:44|              1|         5.44|         1|                 N|         114|          62|           2|       28.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        33.2|                 2.5|        0.0|
|       1| 2023-11-01 00:07:29|  2023-11-01 00:11:01|              2|          0.9|         1|                 N|          48|         246|           1|        6.5|  3.5|    0.5|       2.3|         0.0|                  1.0|        13.8|                 2.5|        0.0|
|       2| 2023-11-01 00:39:20|  2023-11-01 01:00:24|              1|          6.2|         1|                 N|         170|          42|           1|       27.5|  1.0|    0.5|      8.12|         0.0|                  1.0|       40.62|                 2.5|        0.0|
|       1| 2023-11-01 00:21:12|  2023-11-01 00:26:45|              2|          0.4|         1|                 N|         144|         148|           2|        5.8|  3.5|    0.5|       0.0|         0.0|                  1.0|        10.8|                 2.5|        0.0|
|       2| 2023-11-01 00:05:14|  2023-11-01 00:13:28|              1|         1.14|         1|                 N|          90|         164|           1|        9.3|  1.0|    0.5|       1.0|         0.0|                  1.0|        15.3|                 2.5|        0.0|
|       1| 2023-11-01 00:47:33|  2023-11-01 01:03:41|              4|          1.9|         1|                 N|         249|         231|           1|       14.9|  3.5|    0.5|      0.01|         0.0|                  1.0|       19.91|                 2.5|        0.0|
|       2| 2023-11-01 00:21:14|  2023-11-01 00:49:52|              1|         6.88|         1|                 N|         230|          25|           1|       33.1|  1.0|    0.5|      5.72|         0.0|                  1.0|       43.82|                 2.5|        0.0|
|       1| 2023-11-01 00:11:22|  2023-11-01 00:18:02|              1|          0.8|         1|                 N|          79|         224|           3|        7.2|  3.5|    0.5|       0.0|         0.0|                  1.0|        12.2|                 2.5|        0.0|
|       1| 2023-11-01 00:27:33|  2023-11-01 00:49:51|              1|          2.9|         1|                 N|         144|         255|           1|       22.6|  3.5|    0.5|       3.0|         0.0|                  1.0|        30.6|                 2.5|        0.0|
|       2| 2023-11-01 00:07:30|  2023-11-01 00:20:20|              2|         1.93|         1|                 N|         234|          48|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       2| 2023-11-01 00:58:08|  2023-11-01 01:12:32|              1|         2.39|         1|                 N|         141|         143|           2|       16.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        21.3|                 2.5|        0.0|
|       1| 2023-11-01 00:06:23|  2023-11-01 00:17:59|              2|          1.8|         1|                 N|         107|         231|           1|       12.8|  3.5|    0.5|      3.55|         0.0|                  1.0|       21.35|                 2.5|        0.0|
|       2| 2023-11-01 00:11:23|  2023-11-01 00:18:49|              1|         1.77|         1|                 N|         142|         229|           1|       10.7|  1.0|    0.5|      4.71|         0.0|                  1.0|       20.41|                 2.5|        0.0|
|       2| 2023-11-01 00:51:27|  2023-11-01 00:56:14|              1|          1.0|         1|                 N|         230|         163|           1|        7.2|  1.0|    0.5|      1.22|         0.0|                  1.0|       13.42|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [4]:
print('No. of rows: ', df.count())
print('No. of columns: ', len(df.columns))

No. of rows:  12688432
No. of columns:  19

In [5]:
# print the schema of the data
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

# Transformation Phase

### Data Cleaning

In [6]:
# Checking for missing values in the data
missing_values = df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]) # This expression checks if each value in the column c is null. If it is, it casts the result to an integer (1 for null, 0 for not null).
missing_values.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       0|                   0|                    0|         638450|            0|    638450|            638450|           0|           0|           0|          0|    0|      0|         0|           0|                    0|           0|              638450|     638450|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+

**Observation**

It can be seen that the columns passenger_count, RatecodeID, store_and_fwd_flag, congestion_surcharge and Airport_fee contain missing values

In [7]:
# Calculating percentage of missing values
total_rows = df.count()
missing_values_percent = missing_values.select([(col(c) / total_rows * 100).alias(c) for c in df.columns])
missing_values_percent.show()

+--------+--------------------+---------------------+-----------------+-------------+-----------------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|  passenger_count|trip_distance|       RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|      Airport_fee|
+--------+--------------------+---------------------+-----------------+-------------+-----------------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------------+
|     0.0|                 0.0|                  0.0|5.031748603767589|          0.0|5.031748603767589| 5.031748603767589|         0.0|         0.0|         0.0|        0.0|  0.0|    0.0|       0.0|         0.0|                  0.0|         0.0|   5.031748603767589|5.031748603767589|
+--------+--------------------+---------------------+-----------------+-------------+-----------------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------------+

In [8]:
# Select columns of interest
missing_value_columns = df.filter(
    (col('Passenger_count').isNull()) |
    (col('RateCodeID').isNull()) | 
    (col('store_and_fwd_flag').isNull()) |
    (col('congestion_surcharge').isNull()) |
    (col('Airport_fee').isNull())
)

# show rows with missing values
missing_value_columns.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-12-01 00:04:36|  2023-12-01 00:32:12|           NULL|         4.98|      NULL|              NULL|         144|         143|           0|       28.2|  0.0|    0.5|       0.0|         0.0|                  1.0|        32.2|                NULL|       NULL|
|       2| 2023-12-01 00:38:00|  2023-12-01 00:44:00|           NULL|         1.39|      NULL|              NULL|         246|          68|           0|      11.88|  0.0|    0.5|       2.0|         0.0|                  1.0|       17.88|                NULL|       NULL|
|       1| 2023-12-01 00:00:03|  2023-12-01 00:15:11|           NULL|          0.0|      NULL|              NULL|         249|         148|           0|      16.51|  0.0|    0.5|       0.0|         0.0|                  1.0|       20.51|                NULL|       NULL|
|       2| 2023-12-01 00:06:55|  2023-12-01 00:24:55|           NULL|         4.54|      NULL|              NULL|          68|          88|           0|       1.24|  0.0|    0.5|       0.0|         0.0|                  1.0|        5.24|                NULL|       NULL|
|       2| 2023-12-01 00:00:47|  2023-12-01 00:08:34|           NULL|         0.96|      NULL|              NULL|         129|         129|           0|       9.31|  0.0|    0.5|       0.0|         0.0|                  1.0|       10.81|                NULL|       NULL|
|       2| 2023-12-01 00:55:38|  2023-12-01 01:07:17|           NULL|         1.67|      NULL|              NULL|         246|         107|           0|      11.88|  0.0|    0.5|       1.0|         0.0|                  1.0|       16.88|                NULL|       NULL|
|       1| 2023-12-01 00:34:16|  2023-12-01 00:41:33|           NULL|          1.1|      NULL|              NULL|         237|         229|           0|        8.6|  1.0|    0.5|      1.36|         0.0|                  1.0|       14.96|                NULL|       NULL|
|       2| 2023-12-01 00:01:54|  2023-12-01 00:08:46|           NULL|         1.14|      NULL|              NULL|          79|           4|           0|       9.33|  0.0|    0.5|       0.0|         0.0|                  1.0|       13.33|                NULL|       NULL|
|       2| 2023-12-01 00:14:13|  2023-12-01 00:23:35|           NULL|         2.86|      NULL|              NULL|           4|          87|           0|      16.74|  0.0|    0.5|      4.15|         0.0|                  1.0|       24.89|                NULL|       NULL|
|       1| 2023-12-01 00:04:09|  2023-12-01 00:24:38|           NULL|          0.0|      NULL|              NULL|         234|          75|           0|      23.55|  0.0|    0.5|       0.0|         0.0|                  1.0|       27.55|                NULL|       NULL|
|       2| 2023-12-01 00:48:00|  2023-12-01 01:05:39|           NULL|          5.1|      NULL|              NULL|         166|         186|           0|      22.94|  0.0|    0.5|      1.35|         0.0|                  1.0|       28.29|                NULL|       NULL|
|       2| 2023-12-01 00:00:28|  2023-12-01 00:13:04|           NULL|         1.69|      NULL|              NULL|         230|         239|           0|      14.44|  0.0|    0.5|       0.0|         0.0|                  1.0|       18.44|                NULL|       NULL|
|       1| 2023-12-01 00:01:33|  2023-12-01 00:30:03|           NULL|          0.0|      NULL|              NULL|         113|         151|           0|      30.73|  0.0|    0.5|       0.0|         0.0|                  1.0|       34.73|                NULL|       NULL|
|       1| 2023-12-01 00:09:32|  2023-12-01 00:17:57|           NULL|          1.6|      NULL|              NULL|          48|          68|           0|       10.0|  1.0|    0.5|       1.5|         0.0|                  1.0|        16.5|                NULL|       NULL|
|       2| 2023-12-01 00:13:56|  2023-12-01 00:41:36|           NULL|         4.74|      NULL|              NULL|         113|          17|           0|      25.49|  0.0|    0.5|       5.0|         0.0|                  1.0|       34.49|                NULL|       NULL|
|       2| 2023-12-01 00:10:25|  2023-12-01 00:23:43|           NULL|         2.52|      NULL|              NULL|          68|          79|           0|      14.63|  0.0|    0.5|      1.86|         0.0|                  1.0|       20.49|                NULL|       NULL|
|       2| 2023-12-01 00:05:00|  2023-12-01 00:10:00|           NULL|         1.17|      NULL|              NULL|         246|         249|           0|      11.88|  0.0|    0.5|      2.86|         0.0|                  1.0|       18.74|                NULL|       NULL|
|       2| 2023-12-01 00:01:49|  2023-12-01 00:10:48|           NULL|         1.26|      NULL|              NULL|          79|         148|           0|       9.57|  0.0|    0.5|       0.0|         0.0|                  1.0|       13.57|                NULL|       NULL|
|       2| 2023-12-01 00:06:17|  2023-12-01 00:23:20|           NULL|          3.4|      NULL|              NULL|         158|         162|           0|      12.84|  0.0|    0.5|      3.37|         0.0|                  1.0|       20.21|                NULL|       NULL|
|       2| 2023-12-01 00:01:52|  2023-12-01 00:15:14|           NULL|          3.1|      NULL|              NULL|         142|         236|           0|      15.66|  0.0|    0.5|       0.0|         0.0|                  1.0|       19.66|                NULL|       NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [9]:
unique_passenger_count = df.select('passenger_count').distinct()
print('Unique values in passenger_count: ')
unique_passenger_count.show()

unique_RatecodeID= df.select('RatecodeID').distinct()
print('Unique values in RatecodeID: ')
unique_RatecodeID.show()

unique_store_and_fwd_flag = df.select('store_and_fwd_flag').distinct()
print('Unique values in store_and_fwd_flag: ')
unique_store_and_fwd_flag.show()

unique_congestion_surcharge= df.select('congestion_surcharge').distinct()
print('Unique values in congestion_surcharge: ')
unique_congestion_surcharge.show()

unique_Airport_fee = df.select('Airport_fee').distinct()
print('Unique values in Airport_fee: ')
unique_Airport_fee.show()

Unique values in passenger_count:
+---------------+
|passenger_count|
+---------------+
|              0|
|              7|
|              6|
|              5|
|              1|
|              3|
|              8|
|              2|
|              4|
|              9|
|           NULL|
+---------------+

Unique values in RatecodeID:
+----------+
|RatecodeID|
+----------+
|         6|
|         5|
|         1|
|         3|
|         2|
|         4|
|        99|
|      NULL|
+----------+

Unique values in store_and_fwd_flag:
+------------------+
|store_and_fwd_flag|
+------------------+
|                 Y|
|                 N|
|              NULL|
+------------------+

Unique values in congestion_surcharge:
+--------------------+
|congestion_surcharge|
+--------------------+
|                 0.0|
|                 2.5|
|                -2.5|
|                 0.5|
|                0.75|
|                 1.0|
|                NULL|
|               -0.75|
+--------------------+

Unique values in Airport_fee:
+-----------+
|Airport_fee|
+-----------+
|        0.0|
|      -1.75|
|       1.75|
|       1.25|
|       NULL|
+-----------+

For passenger count there we can drop the records where the values are nan.

For RateCodeID we only need to used valid rate code id's i.e from 1 to 6.

For none store and forward we will assume it to be N

For nan congestion surcharge we will assume it to be 0.

For nan airport fee we will assume it to be 0.

In [10]:
# Drop records where passenger_count is NaN
df = df.filter(col('passenger_count').isNotNull())

# Filter records where RateCodeID is between 1 and 6
df = df.filter((col('RateCodeID') >= 1) & (col('RateCodeID') <= 6))

# Replace None values in store_and_fwd_flag with 'N'
df = df.withColumn('store_and_fwd_flag', when(col('store_and_fwd_flag').isNull(), 'N').otherwise(col('store_and_fwd_flag')))

# Replace NaN values in congestion_surcharge with 0
df = df.fillna({'congestion_surcharge': 0})

# Replace NaN values in Airport_fee with 0
df = df.fillna({'Airport_fee': 0})

# Show the cleaned data
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2023-11-01 00:03:03|  2023-11-01 01:04:08|              2|         13.6|         1|                 N|         132|          26|           2|       61.8| 2.75|    0.5|       0.0|         0.0|                  1.0|       66.05|                 0.0|       1.75|
|       1| 2023-11-01 00:03:28|  2023-11-01 00:23:59|              0|          3.5|         1|                 N|         140|           7|           1|       20.5|  3.5|    0.5|       5.1|         0.0|                  1.0|        30.6|                 2.5|        0.0|
|       2| 2023-10-31 23:58:05|  2023-11-01 00:54:03|              4|        18.61|         2|                 N|         132|         230|           1|       70.0|  0.0|    0.5|     16.54|        6.94|                  1.0|       99.23|                 2.5|       1.75|
|       2| 2023-11-01 00:03:50|  2023-11-01 00:04:59|              1|         0.39|         1|                 N|         236|         236|           1|        4.4|  1.0|    0.5|      1.88|         0.0|                  1.0|       11.28|                 2.5|        0.0|
|       2| 2023-11-01 00:06:30|  2023-11-01 00:14:25|              1|          1.2|         1|                 N|         236|         141|           1|       10.0|  1.0|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|
|       2| 2023-11-01 00:17:18|  2023-11-01 00:23:39|              3|          0.6|         1|                 N|         141|         263|           1|        7.9|  1.0|    0.5|      2.58|         0.0|                  1.0|       15.48|                 2.5|        0.0|
|       2| 2023-11-01 00:14:49|  2023-11-01 00:39:44|              1|         5.44|         1|                 N|         114|          62|           2|       28.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        33.2|                 2.5|        0.0|
|       1| 2023-11-01 00:07:29|  2023-11-01 00:11:01|              2|          0.9|         1|                 N|          48|         246|           1|        6.5|  3.5|    0.5|       2.3|         0.0|                  1.0|        13.8|                 2.5|        0.0|
|       2| 2023-11-01 00:39:20|  2023-11-01 01:00:24|              1|          6.2|         1|                 N|         170|          42|           1|       27.5|  1.0|    0.5|      8.12|         0.0|                  1.0|       40.62|                 2.5|        0.0|
|       1| 2023-11-01 00:21:12|  2023-11-01 00:26:45|              2|          0.4|         1|                 N|         144|         148|           2|        5.8|  3.5|    0.5|       0.0|         0.0|                  1.0|        10.8|                 2.5|        0.0|
|       2| 2023-11-01 00:05:14|  2023-11-01 00:13:28|              1|         1.14|         1|                 N|          90|         164|           1|        9.3|  1.0|    0.5|       1.0|         0.0|                  1.0|        15.3|                 2.5|        0.0|
|       1| 2023-11-01 00:47:33|  2023-11-01 01:03:41|              4|          1.9|         1|                 N|         249|         231|           1|       14.9|  3.5|    0.5|      0.01|         0.0|                  1.0|       19.91|                 2.5|        0.0|
|       2| 2023-11-01 00:21:14|  2023-11-01 00:49:52|              1|         6.88|         1|                 N|         230|          25|           1|       33.1|  1.0|    0.5|      5.72|         0.0|                  1.0|       43.82|                 2.5|        0.0|
|       1| 2023-11-01 00:11:22|  2023-11-01 00:18:02|              1|          0.8|         1|                 N|          79|         224|           3|        7.2|  3.5|    0.5|       0.0|         0.0|                  1.0|        12.2|                 2.5|        0.0|
|       1| 2023-11-01 00:27:33|  2023-11-01 00:49:51|              1|          2.9|         1|                 N|         144|         255|           1|       22.6|  3.5|    0.5|       3.0|         0.0|                  1.0|        30.6|                 2.5|        0.0|
|       2| 2023-11-01 00:07:30|  2023-11-01 00:20:20|              2|         1.93|         1|                 N|         234|          48|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       2| 2023-11-01 00:58:08|  2023-11-01 01:12:32|              1|         2.39|         1|                 N|         141|         143|           2|       16.3|  1.0|    0.5|       0.0|         0.0|                  1.0|        21.3|                 2.5|        0.0|
|       1| 2023-11-01 00:06:23|  2023-11-01 00:17:59|              2|          1.8|         1|                 N|         107|         231|           1|       12.8|  3.5|    0.5|      3.55|         0.0|                  1.0|       21.35|                 2.5|        0.0|
|       2| 2023-11-01 00:11:23|  2023-11-01 00:18:49|              1|         1.77|         1|                 N|         142|         229|           1|       10.7|  1.0|    0.5|      4.71|         0.0|                  1.0|       20.41|                 2.5|        0.0|
|       2| 2023-11-01 00:51:27|  2023-11-01 00:56:14|              1|          1.0|         1|                 N|         230|         163|           1|        7.2|  1.0|    0.5|      1.22|         0.0|                  1.0|       13.42|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [11]:
unique_passenger_count = df.select('passenger_count').distinct()
print('Unique values in passenger_count: ')
unique_passenger_count.show()

unique_RatecodeID= df.select('RatecodeID').distinct()
print('Unique values in RatecodeID: ')
unique_RatecodeID.show()

unique_store_and_fwd_flag = df.select('store_and_fwd_flag').distinct()
print('Unique values in store_and_fwd_flag: ')
unique_store_and_fwd_flag.show()

unique_congestion_surcharge= df.select('congestion_surcharge').distinct()
print('Unique values in congestion_surcharge: ')
unique_congestion_surcharge.show()

unique_Airport_fee = df.select('Airport_fee').distinct()
print('Unique values in Airport_fee: ')
unique_Airport_fee.show()

Unique values in passenger_count:
+---------------+
|passenger_count|
+---------------+
|              0|
|              7|
|              6|
|              5|
|              1|
|              3|
|              8|
|              2|
|              4|
|              9|
+---------------+

Unique values in RatecodeID:
+----------+
|RatecodeID|
+----------+
|         6|
|         5|
|         1|
|         3|
|         2|
|         4|
+----------+

Unique values in store_and_fwd_flag:
+------------------+
|store_and_fwd_flag|
+------------------+
|                 Y|
|                 N|
+------------------+

Unique values in congestion_surcharge:
+--------------------+
|congestion_surcharge|
+--------------------+
|                 0.0|
|                 2.5|
|                -2.5|
|                 0.5|
|                0.75|
|                 1.0|
|               -0.75|
+--------------------+

Unique values in Airport_fee:
+-----------+
|Airport_fee|
+-----------+
|        0.0|
|      -1.75|
|       1.75|
+-----------+

In [12]:
print('No. of rows: ', df.count())
print('No. of columns: ', len(df.columns))

No. of rows:  11946619
No. of columns:  19

In [13]:
# Group by all columns and count to identify duplicates
duplicate_counts = df.groupBy(df.columns).count().filter("count > 1")
duplicate_counts.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|count|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----+
|       2| 2023-11-13 13:26:12|  2023-11-13 14:48:41|              1|        18.87|         2|                 N|         230|         132|           1|       70.0|  0.0|    0.5|     16.19|        6.94|                  1.0|       97.13|                 2.5|        0.0|    2|
|       2| 2024-02-08 18:23:50|  2024-02-08 18:38:14|              1|         0.81|         1|                 N|         162|         230|           1|       12.8|  2.5|    0.5|      3.86|         0.0|                  1.0|       23.16|                 2.5|        0.0|    2|
|       2| 2023-11-13 13:57:30|  2023-11-13 14:54:16|              1|        18.02|         2|                 N|          10|         239|           2|       70.0|  5.0|    0.5|       0.0|        6.94|                  1.0|       85.94|                 2.5|        0.0|    2|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----+

In [14]:
# Drop duplicate rows based on all columns
df = df.dropDuplicates()

# Show the deduplicated DataFrame
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2023-11-01 00:10:43|  2023-11-01 00:36:39|              1|         5.45|         1|                 N|         137|          41|           2|       28.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        33.9|                 2.5|        0.0|
|       2| 2023-11-01 00:12:54|  2023-11-01 00:38:02|              1|         6.56|         1|                 N|         162|         255|           1|       31.7|  1.0|    0.5|      9.18|         0.0|                  1.0|       45.88|                 2.5|        0.0|
|       2| 2023-11-01 00:00:25|  2023-11-01 00:19:36|              1|         7.32|         1|                 N|         163|          42|           1|       31.7|  1.0|    0.5|      7.34|         0.0|                  1.0|       44.04|                 2.5|        0.0|
|       2| 2023-11-01 00:13:22|  2023-11-01 00:21:32|              1|         1.96|         1|                 N|          79|         233|           1|       11.4|  1.0|    0.5|      3.28|         0.0|                  1.0|       19.68|                 2.5|        0.0|
|       2| 2023-11-01 00:49:14|  2023-11-01 01:24:31|              2|        18.03|         2|                 N|         132|         234|           1|       70.0|  0.0|    0.5|     16.54|        6.94|                  1.0|       99.23|                 2.5|       1.75|
|       1| 2023-11-01 00:27:05|  2023-11-01 00:34:03|              1|          1.1|         1|                 N|         237|         161|           2|        8.6|  3.5|    0.5|       0.0|         0.0|                  1.0|        13.6|                 2.5|        0.0|
|       2| 2023-11-01 00:50:51|  2023-11-01 01:04:09|              1|         1.73|         1|                 N|         164|         230|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0|
|       2| 2023-11-01 00:52:41|  2023-11-01 01:04:53|              1|         1.77|         1|                 N|         114|         186|           2|       13.5|  1.0|    0.5|       0.0|         0.0|                  1.0|        18.5|                 2.5|        0.0|
|       2| 2023-11-01 00:01:06|  2023-11-01 00:04:22|              1|         0.56|         1|                 N|         249|         231|           2|        5.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        10.1|                 2.5|        0.0|
|       2| 2023-10-31 23:57:24|  2023-11-01 00:08:25|              5|         1.65|         1|                 N|         144|         158|           1|       12.1|  1.0|    0.5|      3.42|         0.0|                  1.0|       20.52|                 2.5|        0.0|
|       2| 2023-11-01 00:40:34|  2023-11-01 01:15:19|              3|         19.2|         2|                 N|         132|         263|           1|       70.0|  0.0|    0.5|      10.0|        6.94|                  1.0|       92.69|                 2.5|       1.75|
|       2| 2023-11-01 00:27:26|  2023-11-01 00:37:12|              1|         1.55|         1|                 N|          87|         144|           1|       11.4|  1.0|    0.5|       4.1|         0.0|                  1.0|        20.5|                 2.5|        0.0|
|       1| 2023-11-01 01:51:53|  2023-11-01 01:56:53|              3|          0.7|         1|                 N|         161|         230|           1|        6.5|  3.5|    0.5|       0.0|         0.0|                  1.0|        11.5|                 2.5|        0.0|
|       2| 2023-11-01 01:52:14|  2023-11-01 02:05:40|              2|         4.12|         1|                 N|         231|         137|           1|       19.8|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.8|                 2.5|        0.0|
|       2| 2023-11-01 01:55:04|  2023-11-01 02:04:17|              3|         2.53|         1|                 N|          88|         158|           2|       14.2|  1.0|    0.5|       0.0|         0.0|                  1.0|        19.2|                 2.5|        0.0|
|       2| 2023-11-01 01:43:48|  2023-11-01 01:49:26|              1|         1.16|         1|                 N|          48|         163|           2|        7.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0|
|       2| 2023-11-01 01:09:28|  2023-11-01 01:17:58|              1|         1.41|         1|                 N|         246|          48|           1|       10.7|  1.0|    0.5|      3.14|         0.0|                  1.0|       18.84|                 2.5|        0.0|
|       2| 2023-11-01 01:13:26|  2023-11-01 01:18:58|              2|         0.79|         1|                 N|         158|         234|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|
|       1| 2023-11-01 01:27:14|  2023-11-01 01:42:40|              1|          3.4|         1|                 N|         100|         263|           1|       16.3|  3.5|    0.5|      4.25|         0.0|                  1.0|       25.55|                 2.5|        0.0|
|       2| 2023-11-01 01:29:41|  2023-11-01 01:49:33|              1|         4.96|         1|                 N|         148|          62|           1|       24.7|  1.0|    0.5|      5.94|         0.0|                  1.0|       35.64|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [15]:
# Group by all columns and count to identify duplicates
duplicate_counts = df.groupBy(df.columns).count().filter("count > 1")
duplicate_counts.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|count|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----+
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----+

**Observation**

No duplicate values present

### Data Transformation to store in dimension and fact tables

In [16]:
# dim_vendor
vendor_dim = df.select("VendorID").distinct().withColumnRenamed("VendorID", "vendor_id")\
    .withColumn("vendor_name", when(col("vendor_id") == 1, "Creative Mobile Technologies, LLC")
                             .when(col("vendor_id") == 2, "VeriFone Inc."))

In [17]:
vendor_dim.show()

+---------+--------------------+
|vendor_id|         vendor_name|
+---------+--------------------+
|        1|Creative Mobile T...|
|        2|       VeriFone Inc.|
+---------+--------------------+

In [18]:
# dim_rate_code
rate_code_dim = df.select("RateCodeID").distinct().withColumnRenamed("RateCodeID", "rate_code_id")\
    .withColumn("rate_code_description", 
                when(col("rate_code_id") == 1, "Standard rate")
                .when(col("rate_code_id") == 2, "JFK")
                .when(col("rate_code_id") == 3, "Newark")
                .when(col("rate_code_id") == 4, "Nassau or Westchester")
                .when(col("rate_code_id") == 5, "Negotiated fare")
                .when(col("rate_code_id") == 6, "Group ride"))

In [19]:
rate_code_dim.show()

+------------+---------------------+
|rate_code_id|rate_code_description|
+------------+---------------------+
|           6|           Group ride|
|           5|      Negotiated fare|
|           1|        Standard rate|
|           3|               Newark|
|           2|                  JFK|
|           4| Nassau or Westche...|
+------------+---------------------+

In [20]:
# dim_payment_type
payment_type_dim = df.select("payment_type").distinct().withColumnRenamed("payment_type", "payment_type_id")\
    .withColumn("payment_type_description", 
                when(col("payment_type_id") == 1, "Credit card")
                .when(col("payment_type_id") == 2, "Cash")
                .when(col("payment_type_id") == 3, "No charge")
                .when(col("payment_type_id") == 4, "Dispute")
                .when(col("payment_type_id") == 5, "Unknown")
                .when(col("payment_type_id") == 6, "Voieded Trip"))

In [21]:
payment_type_dim.show()

+---------------+------------------------+
|payment_type_id|payment_type_description|
+---------------+------------------------+
|              1|             Credit card|
|              3|               No charge|
|              2|                    Cash|
|              4|                 Dispute|
+---------------+------------------------+

In [22]:
# dim_datetime
datetime_dim = df.select(
    col("tpep_pickup_datetime").alias("pickup_datetime"),
    col("tpep_dropoff_datetime").alias("dropoff_datetime")
).distinct().withColumn("datetime_id", monotonically_increasing_id())\
    .withColumn("pick_hour", date_format(col("pickup_datetime"), "HH"))\
    .withColumn("pick_day", date_format(col("pickup_datetime"), "dd"))\
    .withColumn("pick_month", date_format(col("pickup_datetime"), "MM"))\
    .withColumn("pick_year", date_format(col("pickup_datetime"), "yyyy"))\
    .withColumn("pick_weekday", date_format(col("pickup_datetime"), "E"))\
    .withColumn("drop_hour", date_format(col("dropoff_datetime"), "HH"))\
    .withColumn("drop_day", date_format(col("dropoff_datetime"), "dd"))\
    .withColumn("drop_month", date_format(col("dropoff_datetime"), "MM"))\
    .withColumn("drop_year", date_format(col("dropoff_datetime"), "yyyy"))\
    .withColumn("drop_weekday", date_format(col("dropoff_datetime"), "E"))

In [23]:
print(datetime_dim.count())
datetime_dim.show()

11793193
+-------------------+-------------------+-----------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+
|    pickup_datetime|   dropoff_datetime|datetime_id|pick_hour|pick_day|pick_month|pick_year|pick_weekday|drop_hour|drop_day|drop_month|drop_year|drop_weekday|
+-------------------+-------------------+-----------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+
|2023-11-01 00:56:12|2023-11-01 01:21:38|          0|       00|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|2023-11-01 00:35:59|2023-11-01 00:57:10|          1|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 00:10:48|2023-11-01 00:14:44|          2|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 00:02:44|2023-11-01 00:31:37|          3|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 00:11:34|2023-11-01 00:23:28|          4|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 00:08:48|2023-11-01 00:19:17|          5|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 00:17:48|2023-11-01 00:28:50|          6|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 00:45:54|2023-11-01 00:59:25|          7|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 00:27:51|2023-11-01 00:49:38|          8|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 00:28:26|2023-11-01 00:40:33|          9|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 00:43:16|2023-11-01 00:52:53|         10|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|2023-11-01 01:24:51|2023-11-01 01:42:51|         11|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|2023-11-01 01:21:28|2023-11-01 01:41:18|         12|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|2023-11-01 02:02:05|2023-11-01 02:06:28|         13|       02|      01|        11|     2023|         Wed|       02|      01|        11|     2023|         Wed|
|2023-11-01 01:08:23|2023-11-01 01:12:04|         14|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|2023-11-01 01:03:30|2023-11-01 01:23:43|         15|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|2023-11-01 01:04:43|2023-11-01 01:17:52|         16|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|2023-11-01 01:09:53|2023-11-01 01:34:04|         17|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|2023-11-01 01:47:35|2023-11-01 01:52:14|         18|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|2023-11-01 01:43:17|2023-11-01 01:59:30|         19|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
+-------------------+-------------------+-----------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+
only showing top 20 rows

For pickup locaation and dropoff location dimension tables we will have to load the taxi zone csv data to get the zones data

In [24]:
taxi_zone_csv_path = "../Data/taxi_zone_lookup.csv"
taxi_zone_df = spark.read.csv(taxi_zone_csv_path, header=True, inferSchema=True)

In [25]:
taxi_zone_df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [26]:
# Create dim_pickup_location table
pickup_location_dim = df.select(
    col("PULocationID").alias("pickup_location_id")
).distinct()

pickup_location_dim = pickup_location_dim.join(taxi_zone_df, pickup_location_dim.pickup_location_id == taxi_zone_df.LocationID, "left")\
    .select(
        col("pickup_location_id"),
        col("Borough").alias("pickup_borough"),
        col("Zone").alias("pickup_zone"),
        col("service_zone").alias("pickup_service_zone")
    ).distinct()

In [27]:
print(pickup_location_dim.count())
pickup_location_dim.show()

262
+------------------+--------------+--------------------+-------------------+
|pickup_location_id|pickup_borough|         pickup_zone|pickup_service_zone|
+------------------+--------------+--------------------+-------------------+
|               148|     Manhattan|     Lower East Side|        Yellow Zone|
|               243|     Manhattan|Washington Height...|          Boro Zone|
|                31|         Bronx|          Bronx Park|          Boro Zone|
|               137|     Manhattan|            Kips Bay|        Yellow Zone|
|                85|      Brooklyn|             Erasmus|          Boro Zone|
|               251| Staten Island|         Westerleigh|          Boro Zone|
|                65|      Brooklyn|Downtown Brooklyn...|          Boro Zone|
|               255|      Brooklyn|Williamsburg (Nor...|          Boro Zone|
|                53|        Queens|       College Point|          Boro Zone|
|               133|      Brooklyn|          Kensington|          Boro Zone|
|                78|         Bronx|        East Tremont|          Boro Zone|
|               155|      Brooklyn|Marine Park/Mill ...|          Boro Zone|
|               108|      Brooklyn|           Gravesend|          Boro Zone|
|               211|     Manhattan|                SoHo|        Yellow Zone|
|               193|        Queens|Queensbridge/Rave...|          Boro Zone|
|                34|      Brooklyn|  Brooklyn Navy Yard|          Boro Zone|
|               126|         Bronx|         Hunts Point|          Boro Zone|
|               101|        Queens|           Glen Oaks|          Boro Zone|
|               115| Staten Island| Grymes Hill/Clifton|          Boro Zone|
|                81|         Bronx|         Eastchester|          Boro Zone|
+------------------+--------------+--------------------+-------------------+
only showing top 20 rows

In [28]:
# Create dim_dropoff_location table
dropoff_location_dim = df.select(
    col("DOLocationID").alias("dropoff_location_id")
).distinct()

In [29]:
dropoff_location_dim = dropoff_location_dim.join(taxi_zone_df, dropoff_location_dim.dropoff_location_id == taxi_zone_df.LocationID, "left")\
    .select(
        col("dropoff_location_id"),
        col("Borough").alias("dropoff_borough"),
        col("Zone").alias("dropoff_zone"),
        col("service_zone").alias("dropoff_service_zone")
    ).distinct()

In [30]:
print(dropoff_location_dim.count())
dropoff_location_dim.show()

261
+-------------------+---------------+--------------------+--------------------+
|dropoff_location_id|dropoff_borough|        dropoff_zone|dropoff_service_zone|
+-------------------+---------------+--------------------+--------------------+
|                148|      Manhattan|     Lower East Side|         Yellow Zone|
|                243|      Manhattan|Washington Height...|           Boro Zone|
|                 31|          Bronx|          Bronx Park|           Boro Zone|
|                137|      Manhattan|            Kips Bay|         Yellow Zone|
|                 85|       Brooklyn|             Erasmus|           Boro Zone|
|                251|  Staten Island|         Westerleigh|           Boro Zone|
|                 65|       Brooklyn|Downtown Brooklyn...|           Boro Zone|
|                255|       Brooklyn|Williamsburg (Nor...|           Boro Zone|
|                 53|         Queens|       College Point|           Boro Zone|
|                133|       Brooklyn|          Kensington|           Boro Zone|
|                 78|          Bronx|        East Tremont|           Boro Zone|
|                155|       Brooklyn|Marine Park/Mill ...|           Boro Zone|
|                108|       Brooklyn|           Gravesend|           Boro Zone|
|                 34|       Brooklyn|  Brooklyn Navy Yard|           Boro Zone|
|                211|      Manhattan|                SoHo|         Yellow Zone|
|                193|         Queens|Queensbridge/Rave...|           Boro Zone|
|                101|         Queens|           Glen Oaks|           Boro Zone|
|                126|          Bronx|         Hunts Point|           Boro Zone|
|                115|  Staten Island| Grymes Hill/Clifton|           Boro Zone|
|                 81|          Bronx|         Eastchester|           Boro Zone|
+-------------------+---------------+--------------------+--------------------+
only showing top 20 rows

In [31]:
# creating combined data consisting of original dataframe and dimension tables data
combined_data_df = df.join(pickup_location_dim, df.PULocationID == pickup_location_dim.pickup_location_id, "left") \
       .join(dropoff_location_dim, df.DOLocationID == dropoff_location_dim.dropoff_location_id, "left") \
       .join(datetime_dim, 
             (df.tpep_pickup_datetime == datetime_dim.pickup_datetime) & 
             (df.tpep_dropoff_datetime == datetime_dim.dropoff_datetime), "left")

In [32]:
combined_data_df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+--------------+-------------+-------------------+-------------------+---------------+--------------------+--------------------+-------------------+-------------------+-----------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|pickup_location_id|pickup_borough|  pickup_zone|pickup_service_zone|dropoff_location_id|dropoff_borough|        dropoff_zone|dropoff_service_zone|    pickup_datetime|   dropoff_datetime|datetime_id|pick_hour|pick_day|pick_month|pick_year|pick_weekday|drop_hour|drop_day|drop_month|drop_year|drop_weekday|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+--------------+-------------+-------------------+-------------------+---------------+--------------------+--------------------+-------------------+-------------------+-----------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+
|       1| 2023-11-01 00:30:10|  2023-11-01 00:39:21|              1|          1.9|         1|                 N|          43|          75|           1|       12.8|  3.5|    0.5|       2.0|         0.0|                  1.0|        19.8|                 2.5|        0.0|                43|     Manhattan| Central Park|        Yellow Zone|                 75|      Manhattan|   East Harlem South|           Boro Zone|2023-11-01 00:30:10|2023-11-01 00:39:21|      77035|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|       2| 2023-11-01 00:33:04|  2023-11-01 01:01:25|              1|          7.4|         1|                 N|          45|         151|           1|       36.6|  1.0|    0.5|      8.32|         0.0|                  1.0|       49.92|                 2.5|        0.0|                45|     Manhattan|    Chinatown|        Yellow Zone|                151|      Manhattan|    Manhattan Valley|         Yellow Zone|2023-11-01 00:33:04|2023-11-01 01:01:25| 8590011801|       00|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       2| 2023-11-01 00:57:25|  2023-11-01 01:14:37|              1|         3.74|         1|                 N|          48|         249|           1|       20.5|  1.0|    0.5|       5.1|         0.0|                  1.0|        30.6|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                249|      Manhattan|        West Village|         Yellow Zone|2023-11-01 00:57:25|2023-11-01 01:14:37| 8589949949|       00|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       1| 2023-11-01 00:44:40|  2023-11-01 00:50:57|              1|          0.9|         1|                 N|          68|          90|           1|        7.2|  3.5|    0.5|      2.45|         0.0|                  1.0|       14.65|                 2.5|        0.0|                68|     Manhattan| East Chelsea|        Yellow Zone|                 90|      Manhattan|            Flatiron|         Yellow Zone|2023-11-01 00:44:40|2023-11-01 00:50:57|17179896786|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|       2| 2023-11-01 01:05:05|  2023-11-01 01:13:44|              1|         2.11|         1|                 N|          48|          68|           1|       11.4|  1.0|    0.5|       3.0|         0.0|                  1.0|        19.4|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                 68|      Manhattan|        East Chelsea|         Yellow Zone|2023-11-01 01:05:05|2023-11-01 01:13:44|17179910767|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       2| 2023-11-01 01:34:34|  2023-11-01 01:47:24|              1|         2.84|         1|                 N|          48|         137|           1|       15.6|  1.0|    0.5|      5.15|         0.0|                  1.0|       25.75|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                137|      Manhattan|            Kips Bay|         Yellow Zone|2023-11-01 01:34:34|2023-11-01 01:47:24|34359770608|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       2| 2023-11-01 01:25:08|  2023-11-01 01:40:51|              1|         5.09|         1|                 N|          45|         140|           1|       21.9|  1.0|    0.5|      5.38|         0.0|                  1.0|       32.28|                 2.5|        0.0|                45|     Manhattan|    Chinatown|        Yellow Zone|                140|      Manhattan|     Lenox Hill East|         Yellow Zone|2023-11-01 01:25:08|2023-11-01 01:40:51|42949750062|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       2| 2023-11-01 01:43:48|  2023-11-01 01:49:26|              1|         1.16|         1|                 N|          48|         163|           2|        7.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        12.9|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                163|      Manhattan|       Midtown North|         Yellow Zone|2023-11-01 01:43:48|2023-11-01 01:49:26|42949724535|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       1| 2023-11-01 02:27:36|  2023-11-01 02:40:28|              1|          2.6|         1|                 N|          48|         140|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                140|      Manhattan|     Lenox Hill East|         Yellow Zone|2023-11-01 02:27:36|2023-11-01 02:40:28|42949696604|       02|      01|        11|     2023|         Wed|       02|      01|        11|     2023|         Wed|
|       2| 2023-11-01 01:06:16|  2023-11-01 01:18:44|              1|          3.4|         1|                 N|          68|         239|           1|       17.7|  1.0|    0.5|       1.0|         0.0|                  1.0|        23.7|                 2.5|        0.0|                68|     Manhattan| East Chelsea|        Yellow Zone|                239|      Manhattan|Upper West Side S...|         Yellow Zone|2023-11-01 01:06:16|2023-11-01 01:18:44|51539607579|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       2| 2023-11-01 00:25:26|  2023-11-01 00:27:29|              1|         0.53|         1|                 N|          48|          50|           1|        4.4|  1.0|    0.5|      1.88|         0.0|                  1.0|       11.28|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                 50|      Manhattan|        Clinton West|         Yellow Zone|2023-11-01 00:25:26|2023-11-01 00:27:29|60129588676|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|       2| 2023-11-01 00:40:58|  2023-11-01 00:51:48|              2|         2.39|         1|                 N|          48|         238|           1|       13.5|  1.0|    0.5|      4.62|         0.0|                  1.0|       23.12|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                238|      Manhattan|Upper West Side N...|         Yellow Zone|2023-11-01 00:40:58|2023-11-01 00:51:48|68719533826|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|       2| 2023-11-01 01:11:36|  2023-11-01 01:16:43|              1|         1.23|         1|                 N|          48|         142|           1|        7.9|  1.0|    0.5|      2.58|         0.0|                  1.0|       15.48|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                142|      Manhattan| Lincoln Square East|         Yellow Zone|2023-11-01 01:11:36|2023-11-01 01:16:43|68719494650|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       2| 2023-11-01 01:37:32|  2023-11-01 01:49:55|              2|         2.67|         1|                 N|          48|         224|           1|       14.9|  1.0|    0.5|      3.98|         0.0|                  1.0|       23.88|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                224|      Manhattan|Stuy Town/Peter C...|         Yellow Zone|2023-11-01 01:37:32|2023-11-01 01:49:55|68719504362|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       2| 2023-11-01 01:39:36|  2023-11-01 01:47:40|              1|         2.26|         1|                 N|          48|         238|           1|       12.1|  1.0|    0.5|       1.0|         0.0|                  1.0|        18.1|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                238|      Manhattan|Upper West Side N...|         Yellow Zone|2023-11-01 01:39:36|2023-11-01 01:47:40|68719533833|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       1| 2023-11-01 02:01:38|  2023-11-01 02:05:10|              1|          1.0|         1|                 N|          43|         142|           2|        7.2|  3.5|    0.5|       0.0|         0.0|                  1.0|        12.2|                 2.5|        0.0|                43|     Manhattan| Central Park|        Yellow Zone|                142|      Manhattan| Lincoln Square East|         Yellow Zone|2023-11-01 02:01:38|2023-11-01 02:05:10|77309422762|       02|      01|        11|     2023|         Wed|       02|      01|        11|     2023|         Wed|
|       2| 2023-11-01 00:17:03|  2023-11-01 00:32:21|              1|         3.03|         1|                 N|          48|         140|           1|       17.7|  1.0|    0.5|      4.54|         0.0|                  1.0|       27.24|                 2.5|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                140|      Manhattan|     Lenox Hill East|         Yellow Zone|2023-11-01 00:17:03|2023-11-01 00:32:21|85899423119|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|       2| 2023-11-01 00:44:03|  2023-11-01 00:58:43|              1|         4.06|         1|                 N|          63|          37|           4|      -19.8| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -22.3|                 0.0|        0.0|                63|      Brooklyn|Cypress Hills|          Boro Zone|                 37|       Brooklyn|      Bushwick South|           Boro Zone|2023-11-01 00:44:03|2023-11-01 00:58:43|94489357684|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|
|       2| 2023-11-01 01:07:42|  2023-11-01 01:07:52|              2|          0.0|         5|                 N|           4|           4|           1|       15.0|  0.0|    0.0|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|                 4|     Manhattan|Alphabet City|        Yellow Zone|                  4|      Manhattan|       Alphabet City|         Yellow Zone|2023-11-01 01:07:42|2023-11-01 01:07:52|94489342439|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|
|       2| 2023-11-01 02:42:07|  2023-11-01 04:14:41|              1|        52.65|         5|                 N|          48|         265|           1|      125.0|  0.0|    0.0|       8.0|         0.0|                  1.0|       134.0|                 0.0|        0.0|                48|     Manhattan| Clinton East|        Yellow Zone|                265|            N/A|      Outside of NYC|                 N/A|2023-11-01 02:42:07|2023-11-01 04:14:41|94489342378|       02|      01|        11|     2023|         Wed|       04|      01|        11|     2023|         Wed|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+--------------+-------------+-------------------+-------------------+---------------+--------------------+--------------------+-------------------+-------------------+-----------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+
only showing top 20 rows

In [33]:
# Create fact_trips
fact_trips = combined_data_df.select(
    col("VendorID").alias("vendor_id"),
    col("RateCodeID").alias("rate_code_id"),
    col("payment_type").alias("payment_type_id"),
    col("pickup_location_id"),
    col("dropoff_location_id"),
    col("datetime_id"),
    col("Passenger_count").alias("passenger_count"),
    col("Trip_distance").alias("trip_distance"),
    col("Fare_amount").alias("fare_amount"),
    col("Extra").alias("extra"),
    col("MTA_tax").alias("mta_tax"),
    col("Tip_amount").alias("tip_amount"),
    col("Tolls_amount").alias("tolls_amount"),
    col("Total_amount").alias("total_amount"),
    col("congestion_surcharge").alias("congestion_surcharge"),
    col("Airport_fee").alias("airport_fee")
).withColumn("trip_id", monotonically_increasing_id())

In [34]:
print(fact_trips.count())
fact_trips.show()

11946616
+---------+------------+---------------+------------------+-------------------+-----------+---------------+-------------+-----------+-----+-------+----------+------------+------------+--------------------+-----------+-------+
|vendor_id|rate_code_id|payment_type_id|pickup_location_id|dropoff_location_id|datetime_id|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|total_amount|congestion_surcharge|airport_fee|trip_id|
+---------+------------+---------------+------------------+-------------------+-----------+---------------+-------------+-----------+-----+-------+----------+------------+------------+--------------------+-----------+-------+
|        2|           2|              1|               132|                 13|     683418|              1|        28.19|       70.0|  0.0|    0.5|     16.54|        6.94|       99.23|                 2.5|       1.75|      0|
|        2|           1|              1|                90|                231|      31863|              1|         2.05|       13.5|  1.0|    0.5|       3.7|         0.0|        22.2|                 2.5|        0.0|      1|
|        2|           1|              1|               249|                143|      56405|              1|         4.42|       31.0|  1.0|    0.5|       9.0|         0.0|        45.0|                 2.5|        0.0|      2|
|        2|           1|              2|               132|                177|      14534|              1|        10.01|       40.8|  1.0|    0.5|       0.0|         0.0|       45.05|                 0.0|       1.75|      3|
|        2|           1|              1|               107|                 48|       8800|              2|         2.37|       14.2|  1.0|    0.5|      3.84|         0.0|       23.04|                 2.5|        0.0|      4|
|        2|           1|              1|               211|                257|      51331|              1|         7.05|       33.1|  1.0|    0.5|     13.51|        6.94|       58.55|                 2.5|        0.0|      5|
|        1|           1|              1|               100|                239|      61531|              1|          2.7|       16.3|  3.5|    0.5|       0.1|         0.0|        21.4|                 2.5|        0.0|      6|
|        2|           1|              1|               249|                148|      51330|              6|         1.44|       14.2|  1.0|    0.5|      3.84|         0.0|       23.04|                 2.5|        0.0|      7|
|        2|           1|              1|               230|                 68|      17892|              2|         1.17|        7.9|  1.0|    0.5|      2.58|         0.0|       15.48|                 2.5|        0.0|      8|
|        2|           1|              1|               107|                140|          3|              1|         4.09|       28.2|  1.0|    0.5|       8.3|         0.0|        41.5|                 2.5|        0.0|      9|
|        2|           1|              1|               229|                141|      17891|              1|         1.47|        9.3|  1.0|    0.5|      2.86|         0.0|       17.16|                 2.5|        0.0|     10|
|        2|           1|              1|               144|                186|      36631|              1|         1.98|       12.8|  1.0|    0.5|      3.56|         0.0|       21.36|                 2.5|        0.0|     11|
|        2|           1|              1|               142|                236|      61526|              2|         1.63|       10.7|  1.0|    0.5|      3.14|         0.0|       18.84|                 2.5|        0.0|     12|
|        2|           1|              1|               234|                263|      36630|              1|         3.64|       19.8|  1.0|    0.5|      2.48|         0.0|       27.28|                 2.5|        0.0|     13|
|        2|           1|              2|                88|                263|       4963|              1|         7.46|       31.0|  1.0|    0.5|       0.0|         0.0|        36.0|                 2.5|        0.0|     14|
|        1|           1|              1|               162|                224|      13397|              1|          1.9|       10.0|  3.5|    0.5|       3.0|         0.0|        18.0|                 2.5|        0.0|     15|
|        2|           1|              1|               113|                226|      41424|              1|          3.8|       24.7|  1.0|    0.5|      7.33|        6.94|       43.97|                 2.5|        0.0|     16|
|        2|           1|              1|               132|                225|      51332|              1|        11.28|       47.1|  1.0|    0.5|       0.0|         0.0|       51.35|                 0.0|       1.75|     17|
|        2|           1|              1|               237|                249|      27584|              1|         5.65|       27.5|  1.0|    0.5|       6.5|         0.0|        39.0|                 2.5|        0.0|     18|
|        2|           1|              1|                68|                229|      41426|              4|         2.91|       15.6|  1.0|    0.5|      6.18|         0.0|       26.78|                 2.5|        0.0|     19|
+---------+------------+---------------+------------------+-------------------+-----------+---------------+-------------+-----------+-----+-------+----------+------------+------------+--------------------+-----------+-------+
only showing top 20 rows

# Load data in datawarehouse

In [35]:
# Specify the output directory
output_directory = "../Processed_Files/4months/"

# Coalesce to a single partition
vendor_dim_coalesced = vendor_dim.coalesce(1)
# Save as a single CSV file
vendor_dim_coalesced.write.csv(output_directory + "vendor_dim_coalesced.csv", header=True)
print("Saved vendor_dim_coalesced csv file.")

# Coalesce to a single partition
rate_code_dim_coalesced = rate_code_dim.coalesce(1)
# Save as a single CSV file
rate_code_dim_coalesced.write.csv(output_directory + "rate_code_dim_coalesced.csv", header=True)
print("Saved rate_code_dim_coalesced csv file.")

# Coalesce to a single partition
payment_type_dim_coalesced = payment_type_dim.coalesce(1)
# Save as a single CSV file
payment_type_dim_coalesced.write.csv(output_directory + "payment_type_dim_coalesced.csv", header=True)
print("Saved payment_type_dim_coalesced csv file.")

# Coalesce to a single partition
datetime_dim_coalesced = datetime_dim.coalesce(1)
# Save as a single CSV file
datetime_dim_coalesced.write.csv(output_directory + "datetime_dim_coalesced.csv", header=True)
print("Saved datetime_dim_coalesced csv file.")

# Coalesce to a single partition
pickup_location_dim_coalesced = pickup_location_dim.coalesce(1)
# Save as a single CSV file
pickup_location_dim_coalesced.write.csv(output_directory + "pickup_location_dim_coalesced.csv", header=True)
print("Saved pickup_location_dim_coalesced csv file.")

# Coalesce to a single partition
dropoff_location_dim_coalesced = dropoff_location_dim.coalesce(1)
# Save as a single CSV file
dropoff_location_dim_coalesced.write.csv(output_directory + "dropoff_location_dim_coalesced.csv", header=True)
print("Saved dropoff_location_dim_coalesced csv file.")

# Coalesce to a single partition
fact_trips_coalesced = fact_trips.coalesce(1)
# Save as a single CSV file
fact_trips_coalesced.write.csv(output_directory + "fact_trips_coalesced.csv", header=True)
print("Saved fact_trips_coalesced csv file.")

Saved vendor_dim_coalesced csv file.
Saved rate_code_dim_coalesced csv file.
Saved payment_type_dim_coalesced csv file.
Saved datetime_dim_coalesced csv file.
Saved pickup_location_dim_coalesced csv file.
Saved dropoff_location_dim_coalesced csv file.
Saved fact_trips_coalesced csv file.

In [36]:
# Create the analytical table
analytical_table = fact_trips.join(vendor_dim, "vendor_id", "left") \
    .join(rate_code_dim, "rate_code_id", "left") \
    .join(payment_type_dim, "payment_type_id", "left") \
    .join(pickup_location_dim, "pickup_location_id", "left") \
    .join(dropoff_location_dim, "dropoff_location_id", "left") \
    .join(datetime_dim, "datetime_id", "left") \
    .select(
        "trip_id",
        "vendor_id",
        "vendor_name",
        "rate_code_id",
        "rate_code_description",
        "payment_type_id",
        "payment_type_description",
        "pickup_location_id",
        "pickup_borough",
        "pickup_zone",
        "pickup_service_zone",
        "dropoff_location_id",
        "dropoff_borough",
        "dropoff_zone",
        "dropoff_service_zone",
        "datetime_id",
        "pickup_datetime",
        "dropoff_datetime",
        "pick_hour",
        "pick_day",
        "pick_month",
        "pick_year",
        "pick_weekday",
        "drop_hour",
        "drop_day",
        "drop_month",
        "drop_year",
        "drop_weekday",
        "passenger_count",
        "trip_distance",
        "fare_amount",
        "extra",
        "mta_tax",
        "tip_amount",
        "tolls_amount",
        "total_amount",
        "congestion_surcharge",
        "airport_fee"
    )

In [37]:
analytical_table.show()

+-----------+---------+--------------------+------------+---------------------+---------------+------------------------+------------------+--------------+-------------+-------------------+-------------------+---------------+--------------------+--------------------+-----------+-------------------+-------------------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+---------------+-------------+-----------+-----+-------+----------+------------+------------+--------------------+-----------+
|    trip_id|vendor_id|         vendor_name|rate_code_id|rate_code_description|payment_type_id|payment_type_description|pickup_location_id|pickup_borough|  pickup_zone|pickup_service_zone|dropoff_location_id|dropoff_borough|        dropoff_zone|dropoff_service_zone|datetime_id|    pickup_datetime|   dropoff_datetime|pick_hour|pick_day|pick_month|pick_year|pick_weekday|drop_hour|drop_day|drop_month|drop_year|drop_weekday|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|total_amount|congestion_surcharge|airport_fee|
+-----------+---------+--------------------+------------+---------------------+---------------+------------------------+------------------+--------------+-------------+-------------------+-------------------+---------------+--------------------+--------------------+-----------+-------------------+-------------------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+---------------+-------------+-----------+-----+-------+----------+------------+------------+--------------------+-----------+
|68719476748|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                48|     Manhattan| Clinton East|        Yellow Zone|                238|      Manhattan|Upper West Side N...|         Yellow Zone|68719533826|2023-11-01 00:40:58|2023-11-01 00:51:48|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|              2|         2.39|       13.5|  1.0|    0.5|      4.62|         0.0|       23.12|                 2.5|        0.0|
|          4|        1|Creative Mobile T...|           1|        Standard rate|              1|             Credit card|                43|     Manhattan| Central Park|        Yellow Zone|                 75|      Manhattan|   East Harlem South|           Boro Zone|      77035|2023-11-01 00:30:10|2023-11-01 00:39:21|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|              1|          1.9|       12.8|  3.5|    0.5|       2.0|         0.0|        19.8|                 2.5|        0.0|
|94489280522|        2|       VeriFone Inc.|           1|        Standard rate|              4|                 Dispute|                63|      Brooklyn|Cypress Hills|          Boro Zone|                 37|       Brooklyn|      Bushwick South|           Boro Zone|94489357684|2023-11-01 00:44:03|2023-11-01 00:58:43|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|              1|         4.06|      -19.8| -1.0|   -0.5|       0.0|         0.0|       -22.3|                 0.0|        0.0|
|34359738387|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                68|     Manhattan| East Chelsea|        Yellow Zone|                148|      Manhattan|     Lower East Side|         Yellow Zone|34359810680|2023-11-01 02:31:54|2023-11-01 02:43:46|       02|      01|        11|     2023|         Wed|       02|      01|        11|     2023|         Wed|              1|         1.76|       12.1|  1.0|    0.5|       1.0|         0.0|        18.1|                 2.5|        0.0|
|17179869191|        1|Creative Mobile T...|           1|        Standard rate|              1|             Credit card|                68|     Manhattan| East Chelsea|        Yellow Zone|                 90|      Manhattan|            Flatiron|         Yellow Zone|17179896786|2023-11-01 00:44:40|2023-11-01 00:50:57|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|              1|          0.9|        7.2|  3.5|    0.5|      2.45|         0.0|       14.65|                 2.5|        0.0|
|60129542152|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                48|     Manhattan| Clinton East|        Yellow Zone|                 50|      Manhattan|        Clinton West|         Yellow Zone|60129588676|2023-11-01 00:25:26|2023-11-01 00:27:29|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|              1|         0.53|        4.4|  1.0|    0.5|      1.88|         0.0|       11.28|                 2.5|        0.0|
|68719476754|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                48|     Manhattan| Clinton East|        Yellow Zone|                142|      Manhattan| Lincoln Square East|         Yellow Zone|68719494650|2023-11-01 01:11:36|2023-11-01 01:16:43|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|              1|         1.23|        7.9|  1.0|    0.5|      2.58|         0.0|       15.48|                 2.5|        0.0|
|85899345927|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                48|     Manhattan| Clinton East|        Yellow Zone|                140|      Manhattan|     Lenox Hill East|         Yellow Zone|85899423119|2023-11-01 00:17:03|2023-11-01 00:32:21|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|              1|         3.03|       17.7|  1.0|    0.5|      4.54|         0.0|       27.24|                 2.5|        0.0|
|77309411343|        1|Creative Mobile T...|           1|        Standard rate|              2|                    Cash|                43|     Manhattan| Central Park|        Yellow Zone|                142|      Manhattan| Lincoln Square East|         Yellow Zone|77309422762|2023-11-01 02:01:38|2023-11-01 02:05:10|       02|      01|        11|     2023|         Wed|       02|      01|        11|     2023|         Wed|              1|          1.0|        7.2|  3.5|    0.5|       0.0|         0.0|        12.2|                 2.5|        0.0|
| 8589934597|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                45|     Manhattan|    Chinatown|        Yellow Zone|                151|      Manhattan|    Manhattan Valley|         Yellow Zone| 8590011801|2023-11-01 00:33:04|2023-11-01 01:01:25|       00|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|              1|          7.4|       36.6|  1.0|    0.5|      8.32|         0.0|       49.92|                 2.5|        0.0|
|17179869194|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                48|     Manhattan| Clinton East|        Yellow Zone|                 68|      Manhattan|        East Chelsea|         Yellow Zone|17179910767|2023-11-01 01:05:05|2023-11-01 01:13:44|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|              1|         2.11|       11.4|  1.0|    0.5|       3.0|         0.0|        19.4|                 2.5|        0.0|
|94489280514|        2|       VeriFone Inc.|           1|        Standard rate|              2|                    Cash|                68|     Manhattan| East Chelsea|        Yellow Zone|                137|      Manhattan|            Kips Bay|         Yellow Zone|94489300843|2023-11-01 00:11:19|2023-11-01 00:21:50|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|              1|         2.12|       12.8|  1.0|    0.5|       0.0|         0.0|        17.8|                 2.5|        0.0|
| 8589934601|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                48|     Manhattan| Clinton East|        Yellow Zone|                249|      Manhattan|        West Village|         Yellow Zone| 8589949949|2023-11-01 00:57:25|2023-11-01 01:14:37|       00|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|              1|         3.74|       20.5|  1.0|    0.5|       5.1|         0.0|        30.6|                 2.5|        0.0|
|34359738383|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                48|     Manhattan| Clinton East|        Yellow Zone|                137|      Manhattan|            Kips Bay|         Yellow Zone|34359770608|2023-11-01 01:34:34|2023-11-01 01:47:24|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|              1|         2.84|       15.6|  1.0|    0.5|      5.15|         0.0|       25.75|                 2.5|        0.0|
|34359738374|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                68|     Manhattan| East Chelsea|        Yellow Zone|                 68|      Manhattan|        East Chelsea|         Yellow Zone|34359800324|2023-11-01 00:16:38|2023-11-01 00:20:25|       00|      01|        11|     2023|         Wed|       00|      01|        11|     2023|         Wed|              1|         0.95|        6.5|  1.0|    0.5|       2.3|         0.0|        13.8|                 2.5|        0.0|
|94489280527|        2|       VeriFone Inc.|           5|      Negotiated fare|              1|             Credit card|                 4|     Manhattan|Alphabet City|        Yellow Zone|                  4|      Manhattan|       Alphabet City|         Yellow Zone|94489342439|2023-11-01 01:07:42|2023-11-01 01:07:52|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|              2|          0.0|       15.0|  0.0|    0.0|       3.7|         0.0|        22.2|                 2.5|        0.0|
|42949672973|        2|       VeriFone Inc.|           1|        Standard rate|              2|                    Cash|                48|     Manhattan| Clinton East|        Yellow Zone|                163|      Manhattan|       Midtown North|         Yellow Zone|42949724535|2023-11-01 01:43:48|2023-11-01 01:49:26|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|              1|         1.16|        7.9|  1.0|    0.5|       0.0|         0.0|        12.9|                 2.5|        0.0|
|42949672975|        1|Creative Mobile T...|           1|        Standard rate|              1|             Credit card|                48|     Manhattan| Clinton East|        Yellow Zone|                140|      Manhattan|     Lenox Hill East|         Yellow Zone|42949696604|2023-11-01 02:27:36|2023-11-01 02:40:28|       02|      01|        11|     2023|         Wed|       02|      01|        11|     2023|         Wed|              1|          2.6|       13.5|  3.5|    0.5|       3.7|         0.0|        22.2|                 2.5|        0.0|
|42949672972|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                45|     Manhattan|    Chinatown|        Yellow Zone|                140|      Manhattan|     Lenox Hill East|         Yellow Zone|42949750062|2023-11-01 01:25:08|2023-11-01 01:40:51|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|              1|         5.09|       21.9|  1.0|    0.5|      5.38|         0.0|       32.28|                 2.5|        0.0|
|51539607568|        2|       VeriFone Inc.|           1|        Standard rate|              1|             Credit card|                68|     Manhattan| East Chelsea|        Yellow Zone|                239|      Manhattan|Upper West Side S...|         Yellow Zone|51539607579|2023-11-01 01:06:16|2023-11-01 01:18:44|       01|      01|        11|     2023|         Wed|       01|      01|        11|     2023|         Wed|              1|          3.4|       17.7|  1.0|    0.5|       1.0|         0.0|        23.7|                 2.5|        0.0|
+-----------+---------+--------------------+------------+---------------------+---------------+------------------------+------------------+--------------+-------------+-------------------+-------------------+---------------+--------------------+--------------------+-----------+-------------------+-------------------+---------+--------+----------+---------+------------+---------+--------+----------+---------+------------+---------------+-------------+-----------+-----+-------+----------+------------+------------+--------------------+-----------+
only showing top 20 rows

In [38]:
# Coalesce to a single partition
analytical_table_coalesced = analytical_table.coalesce(1)
# Save as a single CSV file
analytical_table_coalesced.write.csv(output_directory + "analytical_table_coalesced.csv", header=True)
print("Saved analytical_table_coalesced csv file.")

Saved analytical_table_coalesced csv file.

In [39]:
spark.stop()